.git
.github
.dev/*
!.dev/conf/
.dev/conf/*
!.dev/conf/signature.json
!.dev/conf/timestamp-providers.json
.devcontainer
.venv
.vscode
.changelog
**/.DS_Store
**/__pycache__
**/*.py[cod]
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
dist
htmlcov
node_modules
